@using Newtonsoft.Json.Converters
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=yes">
    <title>MyLIUS 展示</title>
    <meta name="description" content="Chat Bot UI/UX & html for web" />
    <link rel="shortcut icon" href="../favicon.ico">
    <meta name="description" content="Chat Bot UI/UX & html for web, UI/UX for chat bot, chat bot html, best chatbot, chatbot app, online chat bot plugin | Css3Transition " />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
@*    <script src="~/js/select2.min.js"></script>*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
@*    <link href="~/css/select2.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/css/chatBot.css" rel="stylesheet" type="text/css" />
 
    <!-- Time line Html Ends -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->

</head>
<body>
    <!-- Chat bot UI start -->
    <div class="chat-screen" style="position: fixed;    left: 20px;">
        <div class="chat-header">
            <div class="chat-header-title">
                MyLUIS 意圖識別測試
            </div>
            <div class="chat-header-option hide">
                <span class="dropdown custom-dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink1" style="will-change: transform;">
                        <a class="dropdown-item" href="javascript:void(0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#bc32ef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                            發送對話
                        </a>
                        <a class="dropdown-item end-chat" href="javascript:void(0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#bc32ef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                            結束對話
                        </a>
                    </div>
                </span>
            </div>
        </div>
        <div id="chatConversation" class="chat-body hide" style="min-height: 60vh;overflow:auto;">
        </div>
        <div class="chat-input hide">
            <input  id="input_text"' type="text" placeholder="輸入訊息...">
            <div class="input-action-icon">
                <a id="send_message"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></a>
            </div>
        </div>
        <div class="chat-session-end hide">
            <h5>This chat session has ended</h5>
            <p>Thank you for chatting with us, If you can take a minute and rate this chat:</p>
            <div class="rate-me">
                <div class="rate-bubble great">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg></span>
                    Great
                </div>
                <div class="rate-bubble bad">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg></span>
                    Bad
                </div>
            </div>
            <a class="transcript-chat">Need a Transcript?</a>
            <div class="powered-by">Powered by css3transition</div>
        </div>
    </div>

    <!-- Chat Bot UI Ends -->
    </div>

    <script>
        $(document).ready(function () {

            //置底
            function scrolldown(){
                $("#chatConversation").scrollTop($("#chatConversation")[0].scrollHeight);
            }



            function add_chat(sentence){
                $('#chatConversation').append('<div class="chat-bubble you">'+sentence+'</div>');
                scrolldown();
            }

            function add_response(sentence){
                $('#chatConversation').append('<div class="chat-bubble me">'+sentence+'</div>');
                scrolldown();
            }
            function add_greeting(){
                var timestring=new Date().toLocaleString();
                $('#chatConversation').append('<div class="chat-bubble me">'+timestring+'</div>');
                $('#chatConversation').append('<div class="chat-bubble me">'+'你好，我是小LUIS，很高興為您服務。'+'</div>');
                scrolldown();
            }

            //Toggle fullscreen
            $('.chat-screen').toggleClass('show-chat');
            $('.chat-mail').addClass('hide');
            $('.chat-body').removeClass('hide');

            $('.chat-input').removeClass('hide');
            $('.chat-header-option').removeClass('hide');
            add_greeting();


           @*加入enter 鍵偵測後續動作*@
           $('#input_text').on('keyup', function (e) {
              if (e.keyCode == 13) {
                 var input_sentence=$('#input_text').val();
                  var mydata=JSON.stringify({sentence:input_sentence});
            
                  add_chat(input_sentence);
                  $('#input_text').val("");


                  $.ajax({  
                    url: '/home/InferIntents/',  
                    type: 'POST',  
                     data:input_sentence ,
                     headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                        },
                     dataType: 'json',  
                   success : function(data) {
                        console.log(data);
                        add_chat(JSON.stringify(data));
                    },
                    error: function (request, message, error) {  
                      add_response("糟糕，我聽不太懂你的意思。"+ message+error);  
                    }  
                  });  
              }
            });

            @*     點擊送出訊息後續動作*@
            $('#send_message').click(function (){
                  var input_sentence=$('#input_text').val();
                  var mydata=JSON.stringify({sentence:input_sentence});
            
                  add_chat(input_sentence);
                  $('#input_text').val("");


                  $.ajax({  
                    url: '/home/InferIntents/',  
                    type: 'POST',  
                     data:input_sentence ,
                     headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                        },
                     dataType: 'json',  
                   success : function(data) {
                        console.log(data);
                        add_chat(JSON.stringify(data));
                    },
                    error: function (request, message, error) {  
                      add_response("糟糕，我聽不太懂你的意思。"+ message+error);  
                    }  
                  });  
            });
 
            $('.end-chat').click(function () {
                $('.chat-body').addClass('hide');
                $('.chat-input').addClass('hide');
                $('.chat-session-end').removeClass('hide');
                $('.chat-header-option').addClass('hide');
            });
     });

    </script>
</body>

</html>